.container {
  margin-inline: auto;
  max-width: var(--width, 1040px);

  &[data-width="xl"] {
    --width: 1200px;
  }

&[data-width="xxl"] {
    --width: 1400px;
  }

}

.--fluid {
  --width: 100%;
}

.container--xl {
  --width: 1200px;
}
.container-xxl {
    --width: 1400px;
}
