.container {
  margin-inline: auto;
  max-width: var(--width, 1040px);
  
  padding-inline: var(--space);

  &[data-width="xl"] {
    --width: 1200px;
  }

  &[data-width="xxl"] {
    --width: 1400px;
  }
  
  &--fluid {
    --container-width: 100%;
  }
  
  &--xl {
    --width: min(1200px, 100%);
  }
  
  &--xxl {
    --width: 1200px;
  }
}


.container--xl {
  --width: 1200px;
}
.container-xxl {
    --width: 1400px;
}
