{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <meta name="turbo-prefetch" content="false">
{% endblock %}

{% set meta = {
    title: "Search Icons",
    description: "Search for icons on iconify.design.",
    canonical: url('app_icons'),
} %}

{% block content %}

    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-5 px-md-5 pt-md-5">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX Icons</a>
            </p>
            <h1 class="text-center ubuntu mt-3">Selection</h1>
            <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-4 text-center">
                <p>
                    <span>
                        <code>7488</code>
                        sdfsdf
                    </span>
                    dfsdf sdf sdf sdfs dfsd fds
                        <a href="#foo">Foo</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5">



    </div>

{% endblock %}
