{% extends 'base.html.twig' %}

{% set meta = {
    title: 'Icon Sets',
    description: '',
    canonical: url('app_icon_sets'),
} %}


{% block content %}


    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-5 px-md-5 pt-md-5">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX Icons</a>
            </p>
            <h1 class="text-center ubuntu mt-3">Icon Sets</h1>
        </div>
    </div>


    <div class="container-fluid container-xxl px-4 px-md-5">
        <div class="container-fluid container-xxl px-4 py-4 py-md-5">
            <h2 class="text-center ubuntu">Popular Icon Sets</h2>
            {{ include('icons/_icon_set_list.html.twig') }}
        </div>
    </div>



{% endblock %}


