{% extends "liveDemoBase.html.twig" %}

{% block demo_main %}

    <section style="padding-block: 6rem;">
        <div class="container-xl">
            <div class="container-fluid container-xxl px-4 pt-4 px-md-5 pt-md-5 mb-5">
                <div class="mb-5" style="position: relative;">
                    <div class="p-4 markdown-container bg-body shadow-blur shadow-blur--rainbow" id="demo">

                        ??

                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endif %}

{% endblock %}
