.Icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.Icons-icon {
  display: grid;
  place-items: center;
  border-radius: 0.75rem;
  border: 1px solid var(--bs-secondary-bg-subtle);
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  position: relative;
  transition: 150ms linear;
  a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
  svg {

  }
}
.Icons-icon:hover {
  fill: #f4645f;
  transition: 250ms ease-in-out;
  transform: scale(1.2);
}

.IconSetCard {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid var(--bs-secondary-bg-subtle);
    border-radius: 0.75rem;
    padding: 1rem;
}
.IconSetCard__title {
  a {
    color: var(--color-text);
  }
}
.IconSetCard__icons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  justify-content: center;
  align-items: center;
}

.Icons-icon:hover {
  fill: #f4645f;
}
