.PackageNav {
  --package-color: var(--color);
  --package-color-darker: color-mix(in oklch, var(--package-color), #000b);
  --package-color-dark: color-mix(in oklch, var(--package-color), #0008);
  --package-color-shade: color-mix(in oklch, var(--package-color), #0004);
  --package-color-subtle: color-mix(in oklch, var(--package-color), #fff1);

  transform: translateY(-7rem);
  margin-bottom: -3rem;

  &--sticky {
    position: sticky;
    background: rgb(0 0 0 / 0.2);
    top: 0;
    z-index: 444;
    backdrop-filter: blur(1rem);
    transition: all 0.25s;

    &::before {
      content: '';
      position: absolute;
      inset: 0 0 auto 0;
      background: var(--gradient);
      z-index: -1;
      height: 2px;
    }
  }
}

.PackageNav_inner {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: .75rem;
}

.PackageNav_media {
  position: relative;
  filter: saturate(1.1);
}

.PackageNav_media .PackageIcon {
  --logo-size: 8rem;

  background-position: 55% 55%;
  
  filter: drop-shadow(0 -0.15rem 0.35rem rgba(0, 0, 0, 0.15));
  transition: transform 600ms linear;

  img {
    opacity: .8;
  }
  
  &:hover {
    transition: transform 200ms linear;
    transform: scale(1.02);
  }

}

.PackageNav_meta {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.PackageNav_info {
  display: flex;
  flex-direction: column;
  gap: .35rem;
  position: relative;
}

.PackageNav_title {
  font-size: 2.2rem;
  font-weight: 650;
  color: #fff;
  line-height: 1;
  letter-spacing: -0.02em;
  font-family: var(--font-family-title);
  opacity: .9;
  span {
    font-weight: 400;
    letter-spacing: -0.04em;
  }
}

.PackageNav_metadata {
  display: flex;
  align-items: center;
  gap: .5rem;

  :is(span, code, a) {
    line-height: 1;
    color: color-mix(in oklch, var(--package-color), #0008);
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: -0.1px;
    font-family: var(--font-family-title);
  }

  strong {
    font-weight: 600;
  }
}

.PackageNav_menu {
  display: flex;
  gap: 1rem;
  margin-inline-start: auto;
  align-items: center;
}

.PackageNav_item {
  display: flex;
  align-items: center;
  padding: .4rem 1rem;
  border-radius: 1.5rem;
  --color: var(--package-color, #fff);
  background: color-mix(in oklch, transparent, #0006);
  font-weight: 500;
  font-family: var(--font-family-title);
  gap: .5rem;
  opacity: .9;
  font-size: .9rem;
  color: #fffe;
  transition: all .4s ease-out;

  svg {
    height: 1.5em;
    color: inherit;
    opacity: .7;
    transform: scale(1) rotate(1deg);
    transition: transform .3s;
  }

  &:hover {
    transform: scale(1.02);
    color: #fffd;
    transition: all .2s ease-out;
    background: color-mix(in oklch, var(--package-color), #0008);
    opacity: .9;

    svg {
      opacity: 1;
      transform: scale(1.05) rotate(-2deg);
    }
  }
}


@media screen and (max-width: 960px) {

  .PackageNav {
    --package-color: #fff;
    transform: translateY(-4rem);
  }

  .PackageNav_inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 0 !important;
  }

  .PackageNav_meta {
    gap: 1rem;
    flex-direction: column;
  }

  .PackageNav_info, .PackageNav_meta, .PackageNav_title {
    text-align: center;
    align-items: center;
  }

  .PackageNav_media {
    --icon-size: 1rem;
    transform: scale(1);
  }

  .PackageNav_menu {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100%;
    flex-wrap: nowrap;
    padding-left: 1rem;
  }
}
