.PackageHeader {
  h1 {
    text-shadow: 0 .25rem .25rem rgba(0, 0, 0, .05);
    text-wrap: balance;
    max-width: 54rem;
    margin-inline: auto;
    font-size: 4.04rem;
    line-height: 1;
    font-weight: 800;

    em {
      display: inline-flex;
      transform: skewX(-16deg) scaleY(0.95) rotate(-.5deg);
      //text-shadow: 0 .25rem .25rem rgba(0, 0, 0, .1);
      font-style: normal;
      font-weight: 600;
      letter-spacing: -.2rem;
    }
  }

  .AppHeader + * & {
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
}
