.PackageNav {
  --package-color: var(--color);
  --package-color-text: color-mix(in oklch, #a9e41b, #000d);
  --package-color-dark: color-mix(in oklch, var(--package-color), #0008);
  --package-color-shade: color-mix(in oklch, var(--package-color), #0004);
  --package-color-subtle: color-mix(in oklch, var(--package-color), #fff1);

  transform: translateY(-80%);
  background: transparent;

  &--sticky {
    position: sticky;
    background: rgb(0 0 0 / 0.2);
    top: 0;
    z-index: 444;
    backdrop-filter: blur(1rem);
    transition: all 0.25s;

    &::before {
      content: '';
      position: absolute;
      inset: 0 0 auto 0;
      background: var(--gradient);
      z-index: -1;
      height: 2px;
    }
  }
}

.PackageNav > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: .75rem;
}

.PackageNav_media .PackageIcon {
  --logo-size: 6rem;
  
  transition: all 600ms linear;
  filter: drop-shadow(0 .15rem .28rem rgb(0 0 0 / .15));
  
  &:hover {
    transition: all 200ms linear;
    transform: scale(1.02);
  }
  
  img {
    opacity: .9;
  }
}

.PackageNav_meta {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  transform: scale(1.15);
  transform-origin: center left;
}

.PackageNav_info {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  position: relative;
}

.PackageNav_title {
  font-size: 1.75rem;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  font-family: var(--font-family-title);
  opacity: .8;

  span {
    font-weight: 700;
    color: var(--package-color-text);
  }
  
  text-shadow: 0 1px 1px var(--package-color-shade);
  filter: drop-shadow(4px 4px 4px rgb(0 0 0 / 0));
}

.PackageNav_metadata {
  display: flex;
  align-items: center;
  gap: .5rem;
  :is(span, code, a) {
    line-height: 1;
    color: var(--package-color-dark);
    font-weight: 400;
    font-size: .75rem;
    letter-spacing: -0.1px;
    font-family: var(--font-family-title);
  }
  strong {
    font-weight: 600;
  }
}

.PackageNav_menu {
  display: flex;
  gap: 1rem;
  margin-inline-start: auto;
  align-items: center;
}
.PackageNav_item {
  display: flex;
  align-items: center;
  padding: .4rem 1rem;
  border-radius: 1.5rem;
  --color: var(--package-color, #fff);
  background: color-mix(in oklch, transparent, #0003);
  font-weight: 500;
  font-family: var(--font-family-title);
  gap: .5rem;
  opacity: .85;
  font-size: .9rem;
  color: #fffd;
  transition: all .4s ease-out;

  svg {
    opacity: .7;
    height: 1.5em;
    transition: transform .3s;
  }
  
  &:hover {
    transform: scale(1.02);
    opacity: .9;
    color: #fffd;
    transition: all .2s ease-out;
    background: color-mix(in oklch, var(--package-color), #000a);
    background: color-mix(in oklch, var(--package-color) 10%, #0003);
    
    svg {
      color: #fffd;
      transform: scale(1.1) rotate(-2deg);
    }
  }
}
