.TerminalCommand {
  --color-text: var(--bs-white);
  --color-accent: var(--bs-blue);

  display: flex;
  padding: .75rem 1.5rem;
  gap: 1.5rem;
  border-radius: .75rem;
  flex-direction: row;
  position: relative;
  overflow: clip;
  z-index: 1;
  max-inline-size: 40rem;
  margin-inline: auto;
  max-width: 100%;
  width: fit-content;
  align-items: center;
  // background: var(--color-background);
  background: #1C1E21FF;
}

.TerminalCommand_input {
  color: var(--color-text);
  border: 0!important;
  border: none;
  background: transparent;
  z-index: 4;
  outline: none;
  font-family: var(--font-family-code);
  font-size: .9rem;
  padding: 0 .75rem;
  width: inherit;
  overflow: clip;
  margin: 0;
  font-weight: 300;
  
  span {
    color: var(--color-accent);
    font-weight: 600;
    filter: brightness(1.15) saturate(1) contrast(1.25);
  }
}

.TerminalCommand_action {
  background: transparent;
  color: var(--color-text);
  border: 0 !important;
  border-radius: 50%;
  z-index: 2;
  opacity: .5;
  display: grid;
  place-content: center;
  aspect-ratio: 1;
  &:hover {
    background: var(--color-accent);
    color: var(--color-text);
    opacity: 1;
  }
}


