
:root {

    --border-radius-thinnest: .5rem;
    --border-radius-thinner: 1rem;
    --border-radius: 1.5rem;
    --border-radius-thicker: 2rem;
    --border-radius-thickest: 3rem;
    
    --border-radius-percent-light: 6.25%;
    --border-radius-percent: 12.5%;
    --border-radius-percent-bold: 18.75%;
    
    
    
    
  
}
