
:root {

  --color-success: #84DE2C;
  --color-warning: #FBC640;
  --color-danger: #FB4040;
  
  --color-code: #e685b5;
  

  --color-pastel-purple: #c6a0f6;
  --color-pastel-: #8aadf4;
  --color-XZA: #eed49f;
  --color-VVV: #f4a261;
  --color-AAA: #ed8796;
  --color-CCC: #a6da95;
  --color-EEE: #CFCFCF;
  --color-DDD: #a3af87;
  
  --color-icon-aa: #DABEF3;
  --color-icon-bb: #CCCB93;
  --color-icon-cc: #86D7C6;
  --color-icon-dd: #9FCEFC;
  --color-icon-ee: #FCB5B2;
  --color-icon-ff: #88D3F2;
  
  --color-bg-lighter: #343A40;
  --color-bg-primary: #212529;
  --color-bg-code: #1B1E21;
  --color-bg-darker: #161719;
  --color-bg-darkest: #111212;
  --color-bg-black: #0A0A0A;
  
  --color-fg: rgb(222, 226, 230);
  
  
  --text-select-bg: #212529;
  --text-select-fg: #dee2e6;
  
  --border: #161719;
  
  --icon-modal-link: #87cefa;
  --icon-modal-code-bg: #181A1C;
  --icon-modal-tab-bg: #343A40;
  
  --form-bg: #212529;
  
  --tag-bg: #191E27;
  --tag-fg: #A5C4E2;
  
  --badge-bg: #1D1F23;
  --badge-fg: #81ADB5;
  --badge-bd: #141415;
  
  --changelog-alt: #a3bfe8;
  --changelog-bg: #1C2024;
  --changelog-seconday: #6c757d;
  
  --cookbook-bg-glossy: #0A0A0A;
  
  --command-bg-glossy: #150C02;
  --color-icon-primary: #090E10;
}
