@at-root :root {

  // Borders
  --border-radius-small: .5rem;
  --border-radius: 1rem;
  --border-radius-large: 1.5rem;
  --border-color: #D9D9D9;

  // Spaces
  --space-smaller: .5rem;
  --space-small: .75rem;
  --space-regular: 1rem;
  --space-large: 1.5rem;
  --space-larger: 2rem;

  // Fonts

  // Colors
  --color-primary: #DEE2E6FF; // var(--bs-body-color);
  --color-secondary: #DEE2E6BF; // var(--bs-secondary-color);
  --color-tertiary: #DEE2E67F; // var(--bs-tertiary-color);
}
