
:root {

  --font-title: "UbuntuSans", "Ubuntu", system-ui, sans-serif;
  --font-family-title: var(--font-title);
  --font-text: system-ui, sans-serif;
  --font-family-text: var(--font-text);
  --font-code: ui-monospace, "SF Mono", SFMono-Regular, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --font-family-code: var(--font-code);

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-xsmall: .8;
  --font-small: .8;
  --font-normal: 1;
  --font-medium: 1.1;
  --font-large: .8;
  --font-xlarge: .8;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: var(--font-weight);
  font-variant-settings: "wght" var(--font-weight);
}

h1 {
  --font-weight: 700;
  font-size: 52px;
  line-height: 60px;
}

h2 {
  --font-weight: 700;
  font-size: 42px;
  line-height: 48px;
}

h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
}

h3 {
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1px;
  text-decoration: none;
  color: var(--bs-body-color);
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.38px;
}


//@media (max-width: 576px) {
//  h1 {
//    font-size: 36px;
//    line-height: 41px;
//    letter-spacing: -1px;
//  }
//
//  h2.ubuntu {
//    font-size: 28px;
//    line-height: 32px;
//    letter-spacing: -1px;
//  }
//
//  h3, a.component-title {
//    font-size: 22px;
//    line-height: 25px;
//    letter-spacing: -1px;
//  }
//}
