
:root {
  
  /** tokens */
  
  --ff-title: "UbuntuSans", "Ubuntu", system-ui, sans-serif;
  --ff-text: system-ui, sans-serif;
  --ff-code: ui-monospace, "SF Mono", SFMono-Regular, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  --fs-xsmall: .8;
  --fs-small: .9;
  --fs-regular: 1;
  --fs-medium: 1.15;
  --fs-large: 1.5;
  --fs-xlarge: 3rem;
  --fs-xxlarge: 4rem;
  
  
  /** public */
  --font-family-title: var(--ff-title);
  --font-family-text: var(--ff-text);
  --font-family-code: var(--ff-code);

  --heading-size: 6rem;
  --heading-weight: 6rem;
}

:is(h1, h2, h3, h4, h5, h6) {
  
  a {
    color: inherit;
  }
  a:only-child {
    text-decoration: none;
  }
}

:is(h1) {
  font-size: var(--fs-xxlarge);
  font-weight: var(--fw-extrabold);
  line-height: 1.05ch;
  letter-spacing: -0.05ch;
}

:is(h2) {
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  line-height: 1.15ch;
  letter-spacing: -0.01ch;
}

:is(h3) {
  font-family: var(--ff-title);
  font-size: var(--fs-large);
  font-weight: var(--fw-semibold);
}

:is(h4) {
  font-size: var(--fs-medium);
  font-weight: var(--fw-medium);
}

:is(h5, h6) {
  font-size: var(--fs-medium);
  font-weight: var(--fw-medium);
}
