<div {{ attributes }} style="position: fixed;z-index: 100; top: 50%;">

    <div height="200px"></div>

    <input type="text" data-name="foo"  name="foo" value="{{ this.foo }}"   />

    <button type="button" data-action="live#action" data-live-action-param="bar" >
        BAR!
    </button>

</div>
