{% extends 'base.html.twig' %}

{% set meta = {
    title: 'Changelog',
    title_suffix: ' - Symfony UX',
    description: 'Symfony UX changelog - New features, bug fixes, performances and security improvements about Symfony Live Components, Twig Components, Autocomplete, Icons...',
    canonical: url('app_changelog'),
} %}

{% block content %}
    
    <twig:Hero
        title="Changelog"
        url="{{ url('app_changelog') }}"
        description="New features, bug fixes, performances and security improvements."
    />

    <div class="container-fluid container-xxl px-4 pt-4 px-md-5">
        <div class="Changelog">
            {% for entry in changelog %}
                <twig:ChangelogItem item="{{ entry }}" isOpen="{{ loop.index < 4 }}" />
            {% endfor %}
        </div>
    </div>

{% endblock %}
