{% extends 'base.html.twig' %}

{% block title %}Twig UI Components{% endblock %}

{% block content %}
    <h1>Twig UI Components</h1>

    <a href="{{ path('app_ui_component_modal') }}">Modal</a>
{% endblock %}
