    <div class="EmojiGrid">
        {% for i in 0..8 %}
            <div class="EmojiGrid__item" data-emoji="🌈">
                <span class="EmojiGrid__emoji">??</span>
            </div>
        {% endfor %}
    </div>
