<html>
    <head>
        <link rel="stylesheet" href="{{ asset('styles/tailwind.css') }}">

        {{ importmap() }}
    </head>
    <body class="p-6">
        {% block content %}{% endblock %}
    </body>
</html>
