<article class="IconSetCard" style="position: relative;">

    <div class="IconSetCard__media">
    </div>

    <div class="IconSetCard__content">
        <h4 class="IconSetCard__title">
            <a href="{{ url('app_icon_collection', {prefix: iconSet.identifier}) }}" class="stretched-link">
                {{ iconSet.name }}
            </a>
        </h4>
        <p class="IconSetCard__description">
            {{ iconSet.total }}
        </p>
    </div>

</article>
