{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <meta name="turbo-prefetch" content="false">
{% endblock %}

{% set meta = {
    title: 'Icon Brands',
    description: '',
    canonical: url('app_icon_sets_brands'),
} %}

{% block content %}

    <div class="hero">
        <div class="container-fluid container-xxl px-4 pt-5 px-md-5 pt-md-5">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX <span>Icons</span></a> /
                <a href="{{ path('app_icon_sets') }}">Sets</a>
            </p>
            <h1 class="text-center ubuntu mt-3">Brands</h1>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <twig:Icon:IconSetGrid category="brand" samples="10" />
        </div>
    </div>

{% endblock %}


