{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <meta name="turbo-prefetch" content="false">
{% endblock %}

{% set meta = {
    title: 'Icon Sets - Packs - UX Icons',
    description: '',
    canonical: url('app_icon_sets_flags'),
} %}

{% block content %}

    <div class="hero">
        <div class="container-fluid text-center container-xxl px-4 pt-5 px-md-5 pt-md-5">
            <p class="eyebrows text-center">
                <a href="{{ path('app_icons') }}">UX <span>Icons</span></a> /
                <a href="{{ path('app_icon_sets') }}">Sets</a>
            </p>
            <h1 class="ubuntu mt-3">
                <a href="{{ url('app_icon_sets_flags') }}">Flags & Maps Icon Sets</a>
            </h1>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <twig:Icon:IconSetGrid category="flag" samples="10" />
        </div>
    </div>

{% endblock %}


