<header style="">
    <div class="container-fluid container-xxl px-5 py-4" >
        <div class="d-md-flex justify-content-md-between text-center text-md-start align-items-center">
            <a href="{{ path('app_demos') }}#demos" style="height:100%;" class="btn btn-outline-primary align-self-center">
                <twig:Icon name="arrow-left" />
                Back to all demos
            </a>
            <twig:ThemeSwitcher />
        </div>
    </div>
</header>
